/*顶部导航*/
.orderNav{
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.orderNav i{
    font-size: 48px;
}
.orderNav a{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 10px;
}
/*选项卡*/
.mui-control-content {
    background-color: white;
    min-height: 215px;
}
.mui-control-content .mui-loading {
    margin-top: 50px;
}

.orderlist{
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
}
.hr tr{
    width: 100%;
    height: 20px;
    background-color: white;
}
.orderlist thead,.order-good{
    text-align: center;
}
.orderlist thead,.orderlist tbody{
    margin-bottom: 10px;
}
.orderlist tbody.order{
    border: 1px solid #ccc !important;
}
.orderlist tbody td{
    border: none !important;
}
.orderlist tbody .order-content{
    background-color: #ccc;
}
.orderlist tbody .order-content td>*{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.orderlist tbody .order-content .address{
    max-width: 345px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.orderlist tbody .order-content .orderPrice{
    color: #ff6600;
    font-weight: bold;
    font-size: 18px;
}
/*商品*/
tr.order-good td {
    height: 80px;
    padding: 6px;
    line-height: 80px !important;
    text-align: center;
}

.good {
    overflow: hidden;
}

.good > div {
    float: left;
    margin-left: 30px;
}

.goodPic img {
    vertical-align: middle;
    height: 64px;
}

.goodInfo {
    width: 240px;
    height: 80px;
    overflow: hidden;
    line-height: 20px;
    text-align: left;
    padding: auto 0px;
    margin-left: 9px;
    position: relative;
    display: table;
    margin-right: -300px;
}

.goodInfo > div {
    display: table-cell;
    vertical-align: middle;
}

.goodName {
    color: -webkit-link;
}

.point {
    font-weight: bold;
}

.amount input {
    width: 27px;
}

.goodPrice {
    font-weight: bold;
    color: #ff6600;
}

.amount img {
    cursor: pointer;
}

.amount input {
    text-align: center;
}
